.appBar {
    border-radius: 15;
    margin: 30px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .heading {
    color: blue;
  }
  .image{
    margin-left: 15px;
  }